@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bBtn {
    @apply inline-block pb-2 border-b;
  }
  .bBtn > span {
    @apply type-sm inline-block hover:translate-y-1 active:translate-y-1.5 transition-transform;
  }
  .rBtn {
    @apply border border-grey py-[0.625rem] px-3 rounded-[0.625rem] text-base flex w-full;
  }
  .rBtn > span {
    @apply flex-1 text-left;
  }
  .rBtn > svg {
    @apply h-6 w-6;
  }
  .borderedBtn {
    @apply type-xs py-1.5 px-2 rounded-[10px] border;
  }
  .filledBtn {
    @apply flex items-center justify-between gap-10 px-5 py-[9px] rounded-[10px] type-sm;
  }
  .input-48 {
    @apply px-5 py-[11px] rounded-[10px] type-sm min-w-0 border;
  }
  .iconBtn {
    @apply h-10 w-10 lg:h-12 lg:w-12 rounded-[10px] grid place-items-center;
  }
}
