/*
! tailwindcss v3.0.12 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}

input::placeholder,textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
}

[multiple] {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='file'] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type='file']:focus {
  outline: 1px auto -webkit-focus-ring-color;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.aspect-w-\[21\] {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 21;
}

.aspect-w-\[21\] > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-9 {
  --tw-aspect-h: 9;
}

.aspect-w-16 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 16;
}

.aspect-w-16 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-w-4 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 4;
}

.aspect-w-4 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-3 {
  --tw-aspect-h: 3;
}

.aspect-w-1 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 1;
}

.aspect-w-1 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-1 {
  --tw-aspect-h: 1;
}

.bBtn {
  display: inline-block;
  border-bottom-width: 1px;
  padding-bottom: 0.5rem;
}

.bBtn > span {
  display: inline-block;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  font-size: clamp(1rem, calc(1rem + 0.11160714285714285vw), 1.125rem);
}

.bBtn > span:hover {
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.bBtn > span:active {
  --tw-translate-y: 0.375rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rBtn {
  display: flex;
  width: 100%;
  border-radius: 0.625rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(75 87 95 / var(--tw-border-opacity));
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.rBtn > span {
  flex: 1 1 0%;
  text-align: left;
}

.rBtn > svg {
  height: 1.5rem;
  width: 1.5rem;
}

.borderedBtn {
  border-radius: 10px;
  border-width: 1px;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: clamp(0.875rem, calc(1rem + 0vw), 1rem);
}

.filledBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  border-radius: 10px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: clamp(1rem, calc(1rem + 0.11160714285714285vw), 1.125rem);
}

.input-48 {
  min-width: 0px;
  border-radius: 10px;
  border-width: 1px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: clamp(1rem, calc(1rem + 0.11160714285714285vw), 1.125rem);
}

.iconBtn {
  display: grid;
  height: 2.5rem;
  width: 2.5rem;
  place-items: center;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .iconBtn {
    height: 3rem;
  }

  .iconBtn {
    width: 3rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.top-0 {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.top-6 {
  top: 1.5rem;
}

.right-7 {
  right: 1.75rem;
}

.left-1\/2 {
  left: 50%;
}

.top-1\/2 {
  top: 50%;
}

.left-0 {
  left: 0px;
}

.left-\[28rem\] {
  left: 28rem;
}

.-right-36 {
  right: -9rem;
}

.-top-24 {
  top: -6rem;
}

.top-\[15\%\] {
  top: 15%;
}

.-left-\[15\%\] {
  left: -15%;
}

.left-1\/3 {
  left: 33.333333%;
}

.-top-96 {
  top: -24rem;
}

.-top-\[120px\] {
  top: -120px;
}

.-right-\[160px\] {
  right: -160px;
}

.top-\[40\%\] {
  top: 40%;
}

.-top-\[650px\] {
  top: -650px;
}

.-left-\[420px\] {
  left: -420px;
}

.top-full {
  top: 100%;
}

.top-1\/4 {
  top: 25%;
}

.-left-0 {
  left: -0px;
}

.z-0 {
  z-index: 0;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-10 {
  z-index: 10;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mt-1\.5 {
  margin-top: 0.375rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-\[3\.25rem\] {
  margin-top: 3.25rem;
}

.mt-32 {
  margin-top: 8rem;
}

.-mt-4 {
  margin-top: -1rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-24 {
  margin-top: 6rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-screen {
  height: 100vh;
}

.h-\[3px\] {
  height: 3px;
}

.h-full {
  height: 100%;
}

.h-4 {
  height: 1rem;
}

.h-px {
  height: 1px;
}

.h-8 {
  height: 2rem;
}

.h-\[880px\] {
  height: 880px;
}

.h-6 {
  height: 1.5rem;
}

.h-\[1000px\] {
  height: 1000px;
}

.h-3 {
  height: 0.75rem;
}

.h-\[1440px\] {
  height: 1440px;
}

.h-\[30px\] {
  height: 30px;
}

.max-h-screen {
  max-height: 100vh;
}

.w-full {
  width: 100%;
}

.w-\[205px\] {
  width: 205px;
}

.w-\[23px\] {
  width: 23px;
}

.w-auto {
  width: auto;
}

.w-4 {
  width: 1rem;
}

.w-px {
  width: 1px;
}

.w-\[28rem\] {
  width: 28rem;
}

.w-\[72px\] {
  width: 72px;
}

.w-8 {
  width: 2rem;
}

.w-screen {
  width: 100vw;
}

.w-\[880px\] {
  width: 880px;
}

.w-6 {
  width: 1.5rem;
}

.w-\[1000px\] {
  width: 1000px;
}

.w-3 {
  width: 0.75rem;
}

.w-\[16\.5rem\] {
  width: 16.5rem;
}

.w-\[1440px\] {
  width: 1440px;
}

.w-56 {
  width: 14rem;
}

.w-\[30px\] {
  width: 30px;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-\[240px\] {
  min-width: 240px;
}

.max-w-screen-lg {
  max-width: 1024px;
}

.max-w-5xl {
  max-width: 64rem;
}

.max-w-md {
  max-width: 28rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.origin-center {
  transform-origin: center;
}

.origin-right {
  transform-origin: right;
}

.origin-top-left {
  transform-origin: top left;
}

.origin-bottom {
  transform-origin: bottom;
}

.origin-top {
  transform-origin: top;
}

.translate-y-\[4\.5px\] {
  --tw-translate-y: 4.5px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[4\.5px\] {
  --tw-translate-y: -4.5px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[47\%\] {
  --tw-translate-y: -47%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-5 {
  --tw-translate-x: -1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-45 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-150 {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-0 {
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-125 {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[2\] {
  --tw-scale-x: 2;
  --tw-scale-y: 2;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-y-0 {
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-y-150 {
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.snap-start {
  scroll-snap-align: start;
}

.scroll-ml-8 {
  scroll-margin-left: 2rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-16 {
  gap: 4rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-24 {
  gap: 6rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-y-9 {
  row-gap: 2.25rem;
}

.gap-x-12 {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.gap-y-20 {
  row-gap: 5rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.divide-orange-100 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(232 109 31 / var(--tw-divide-opacity));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[0\.625rem\] {
  border-radius: 0.625rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t-\[3px\] {
  border-top-width: 3px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-grey {
  --tw-border-opacity: 1;
  border-color: rgb(75 87 95 / var(--tw-border-opacity));
}

.border-transparent {
  border-color: transparent;
}

.border-yellow\/50 {
  border-color: rgb(255 204 51 / 0.5);
}

.border-grey\/25 {
  border-color: rgb(75 87 95 / 0.25);
}

.border-green {
  --tw-border-opacity: 1;
  border-color: rgb(120 162 47 / var(--tw-border-opacity));
}

.border-orange-100 {
  --tw-border-opacity: 1;
  border-color: rgb(232 109 31 / var(--tw-border-opacity));
}

.border-grey\/50 {
  border-color: rgb(75 87 95 / 0.5);
}

.border-yellow {
  --tw-border-opacity: 1;
  border-color: rgb(255 204 51 / var(--tw-border-opacity));
}

.border-grey\/30 {
  border-color: rgb(75 87 95 / 0.3);
}

.bg-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 204 51 / var(--tw-bg-opacity));
}

.bg-orange-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(232 109 31 / var(--tw-bg-opacity));
}

.bg-\[rgba\(75\2c 87\2c 95\2c 0\.9\)\] {
  background-color: rgba(75,87,95,0.9);
}

.bg-grey\/90 {
  background-color: rgb(75 87 95 / 0.9);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-grey {
  --tw-bg-opacity: 1;
  background-color: rgb(75 87 95 / var(--tw-bg-opacity));
}

.bg-green {
  --tw-bg-opacity: 1;
  background-color: rgb(120 162 47 / var(--tw-bg-opacity));
}

.bg-neutral-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.p-8 {
  padding: 2rem;
}

.p-3 {
  padding: 0.75rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-\[1\.375rem\] {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}

.py-px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pl-16 {
  padding-left: 4rem;
}

.pr-24 {
  padding-right: 6rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pb-1\.5 {
  padding-bottom: 0.375rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pt-64 {
  padding-top: 16rem;
}

.pb-56 {
  padding-bottom: 14rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.leading-44 {
  line-height: 2.75rem;
}

.leading-64 {
  line-height: 4rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-\[2\.75rem\] {
  line-height: 2.75rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.text-grey {
  --tw-text-opacity: 1;
  color: rgb(75 87 95 / var(--tw-text-opacity));
}

.text-orange-100 {
  --tw-text-opacity: 1;
  color: rgb(232 109 31 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-yellow {
  --tw-text-opacity: 1;
  color: rgb(255 204 51 / var(--tw-text-opacity));
}

.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-30 {
  opacity: 0.3;
}

.blur-\[50px\] {
  --tw-blur: blur(50px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-\[50px\] {
  --tw-backdrop-blur: blur(50px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.type-xs {
  font-size: clamp(0.875rem, calc(1rem + 0vw), 1rem);
}

.type-sm {
  font-size: clamp(1rem, calc(1rem + 0.11160714285714285vw), 1.125rem);
}

.type-base {
  font-size: clamp(1rem, calc(1rem + 0.33482142857142855vw), 1.375rem);
}

.type-lg {
  font-size: clamp(1.25rem, calc(1rem + 0.4464285714285714vw), 1.5rem);
}

.type-xl {
  font-size: clamp(1.375rem, calc(1rem + 0.78125vw), 1.875rem);
}

.type-2xl {
  font-size: clamp(1.5rem, calc(1rem + 0.8928571428571428vw), 2rem);
}

.type-3xl {
  font-size: clamp(1.75rem, calc(1rem + 1.3392857142857142vw), 2.5rem);
}

.type-4xl {
  font-size: clamp(1.75rem, calc(1rem + 1.7857142857142856vw), 3rem);
}

.type-5xl {
  font-size: clamp(2.25rem, calc(1rem + 2.0089285714285716vw), 3.25rem);
}

.type-6xl {
  font-size: clamp(2.625rem, calc(1rem + 2.6785714285714284vw), 4rem);
}

.type-7xl {
  font-size: clamp(8.125rem, calc(1rem + 7.142857142857142vw), 9rem);
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flood-r {
  margin-right: -1.5rem;
}

.flood-l {
  margin-left: -1.5rem;
}

@media (min-width: undefined) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .flood-r {
    margin-right: -1.5rem;
  }

  .flood-l {
    margin-left: -1.5rem;
  }

  .bordered {
    padding-left: calc(1.5rem - 2rem);
    padding-right: calc(1.5rem - 2rem);
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .flood-r {
    margin-right: -2rem;
  }

  .flood-l {
    margin-left: -2rem;
  }

  .bordered {
    padding-left: calc(2rem - 2rem);
    padding-right: calc(2rem - 2rem);
  }
}

@media (min-width: 480px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .flood-r {
    margin-right: -3rem;
  }

  .flood-l {
    margin-left: -3rem;
  }

  .bordered {
    padding-left: calc(3rem - 2rem);
    padding-right: calc(3rem - 2rem);
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .flood-r {
    margin-right: -4rem;
  }

  .flood-l {
    margin-left: -4rem;
  }

  .bordered {
    padding-left: calc(4rem - 2rem);
    padding-right: calc(4rem - 2rem);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .flood-r {
    margin-right: -4rem;
  }

  .flood-l {
    margin-left: -4rem;
  }

  .bordered {
    padding-left: calc(4rem - 2rem);
    padding-right: calc(4rem - 2rem);
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .flood-r {
    margin-right: -8rem;
  }

  .flood-l {
    margin-left: -8rem;
  }

  .bordered {
    padding-left: calc(8rem - 2rem);
    padding-right: calc(8rem - 2rem);
  }
}

@media (min-width: 1600px) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .flood-r {
    margin-right: -10rem;
  }

  .flood-l {
    margin-left: -10rem;
  }

  .bordered {
    padding-left: calc(10rem - 2rem);
    padding-right: calc(10rem - 2rem);
  }
}

@media (min-width: 1920px) {
  .container {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .flood-r {
    margin-right: -12rem;
  }

  .flood-l {
    margin-left: -12rem;
  }

  .bordered {
    padding-left: calc(12rem - 2rem);
    padding-right: calc(12rem - 2rem);
  }
}

.\[list-style\:none\] {
  list-style: none;
}

.\[scrollbar-width\:none\] {
  scrollbar-width: none;
}

.placeholder\:text-grey\/50::-moz-placeholder {
  color: rgb(75 87 95 / 0.5);
}

.placeholder\:text-grey\/50::placeholder {
  color: rgb(75 87 95 / 0.5);
}

.hover\:border-white:hover {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.hover\:bg-grey\/90:hover {
  background-color: rgb(75 87 95 / 0.9);
}

.hover\:bg-orange-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(248 151 29 / var(--tw-bg-opacity));
}

.hover\:text-yellow:hover {
  --tw-text-opacity: 1;
  color: rgb(255 204 51 / var(--tw-text-opacity));
}

.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.focus\:border-green:focus {
  --tw-border-opacity: 1;
  border-color: rgb(120 162 47 / var(--tw-border-opacity));
}

.focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.group[open] .group-open\:rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group[open] .group-open\:bg-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 204 51 / var(--tw-bg-opacity));
}

.group[open] .group-open\:text-yellow {
  --tw-text-opacity: 1;
  color: rgb(255 204 51 / var(--tw-text-opacity));
}

.group[open] .group-open\:opacity-0 {
  opacity: 0;
}

.group:hover .group-hover\:rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-y-100 {
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-y-150 {
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:bg-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 204 51 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:text-yellow {
  --tw-text-opacity: 1;
  color: rgb(255 204 51 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-0 {
  opacity: 0;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

@media (min-width: 480px) {
  .sm\:w-auto {
    width: auto;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:gap-4 {
    gap: 1rem;
  }

  .sm\:gap-3 {
    gap: 0.75rem;
  }
}

@media (min-width: 768px) {
  .md\:visible {
    visibility: visible;
  }

  .md\:invisible {
    visibility: hidden;
  }

  .md\:top-3\/4 {
    top: 75%;
  }

  .md\:z-50 {
    z-index: 50;
  }

  .md\:row-span-2 {
    grid-row: span 2 / span 2;
  }

  .md\:mr-0 {
    margin-right: 0px;
  }

  .md\:mt-8 {
    margin-top: 2rem;
  }

  .md\:mt-6 {
    margin-top: 1.5rem;
  }

  .md\:mt-16 {
    margin-top: 4rem;
  }

  .md\:mt-10 {
    margin-top: 2.5rem;
  }

  .md\:mt-32 {
    margin-top: 8rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-36 {
    margin-top: 9rem;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:-translate-y-\[42\%\] {
    --tw-translate-y: -42%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:-translate-y-3 {
    --tw-translate-y: -0.75rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:scale-\[2\.5\] {
    --tw-scale-x: 2.5;
    --tw-scale-y: 2.5;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:scroll-ml-12 {
    scroll-margin-left: 3rem;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-6 {
    gap: 1.5rem;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:gap-12 {
    gap: 3rem;
  }

  .md\:gap-16 {
    gap: 4rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:gap-y-0 {
    row-gap: 0px;
  }

  .md\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .md\:space-x-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:space-x-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:space-x-12 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:border-none {
    border-style: none;
  }

  .md\:object-fill {
    -o-object-fit: fill;
       object-fit: fill;
  }

  .md\:p-5 {
    padding: 1.25rem;
  }

  .md\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .md\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .md\:pb-1\.5 {
    padding-bottom: 0.375rem;
  }

  .md\:pb-1 {
    padding-bottom: 0.25rem;
  }

  .md\:pt-6 {
    padding-top: 1.5rem;
  }

  .md\:pr-12 {
    padding-right: 3rem;
  }

  .md\:pt-4 {
    padding-top: 1rem;
  }

  .md\:text-left {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .lg\:visible {
    visibility: visible;
  }

  .lg\:invisible {
    visibility: hidden;
  }

  .lg\:-left-\[240px\] {
    left: -240px;
  }

  .lg\:-top-\[300px\] {
    top: -300px;
  }

  .lg\:-right-\[380px\] {
    right: -380px;
  }

  .lg\:-top-\[260px\] {
    top: -260px;
  }

  .lg\:left-0 {
    left: 0px;
  }

  .lg\:right-0 {
    right: 0px;
  }

  .lg\:top-3\/4 {
    top: 75%;
  }

  .lg\:bottom-auto {
    bottom: auto;
  }

  .lg\:-left-\[400px\] {
    left: -400px;
  }

  .lg\:-top-\[400px\] {
    top: -400px;
  }

  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:-mt-4 {
    margin-top: -1rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-auto {
    height: auto;
  }

  .lg\:h-6 {
    height: 1.5rem;
  }

  .lg\:w-6 {
    width: 1.5rem;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:w-\[calc\(100\%-4rem\)\] {
    width: calc(100% - 4rem);
  }

  .lg\:min-w-\[368px\] {
    min-width: 368px;
  }

  .lg\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:-translate-y-\[45\%\] {
    --tw-translate-y: -45%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:rotate-0 {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:gap-16 {
    gap: 4rem;
  }

  .lg\:gap-1\.5 {
    gap: 0.375rem;
  }

  .lg\:gap-1 {
    gap: 0.25rem;
  }

  .lg\:space-x-24 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(6rem * var(--tw-space-x-reverse));
    margin-left: calc(6rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:space-y-16 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(4rem * var(--tw-space-y-reverse));
  }

  .lg\:border-t-2 {
    border-top-width: 2px;
  }

  .lg\:border-l {
    border-left-width: 1px;
  }

  .lg\:border-grey {
    --tw-border-opacity: 1;
    border-color: rgb(75 87 95 / var(--tw-border-opacity));
  }

  .lg\:object-contain {
    -o-object-fit: contain;
       object-fit: contain;
  }

  .lg\:pt-24 {
    padding-top: 6rem;
  }

  .lg\:pr-16 {
    padding-right: 4rem;
  }

  .lg\:pr-12 {
    padding-right: 3rem;
  }

  .lg\:pr-8 {
    padding-right: 2rem;
  }

  .lg\:pl-4 {
    padding-left: 1rem;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:leading-72 {
    line-height: 4.5rem;
  }

  .lg\:leading-6 {
    line-height: 1.5rem;
  }

  .lg\:leading-44 {
    line-height: 2.75rem;
  }

  .lg\:leading-64 {
    line-height: 4rem;
  }
}

@media (min-width: 1280px) {
  .xl\:aspect-w-\[21\] {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 21;
  }

  .xl\:aspect-w-\[21\] > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .xl\:right-24 {
    right: 6rem;
  }

  .xl\:-left-12 {
    left: -3rem;
  }

  .xl\:-top-64 {
    top: -16rem;
  }

  .xl\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .xl\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .xl\:row-span-1 {
    grid-row: span 1 / span 1;
  }

  .xl\:-mx-6 {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .xl\:mt-16 {
    margin-top: 4rem;
  }

  .xl\:mt-12 {
    margin-top: 3rem;
  }

  .xl\:mt-1 {
    margin-top: 0.25rem;
  }

  .xl\:mt-32 {
    margin-top: 8rem;
  }

  .xl\:mt-20 {
    margin-top: 5rem;
  }

  .xl\:-mr-4 {
    margin-right: -1rem;
  }

  .xl\:block {
    display: block;
  }

  .xl\:grid {
    display: grid;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:w-\[24rem\] {
    width: 24rem;
  }

  .xl\:w-72 {
    width: 18rem;
  }

  .xl\:translate-x-12 {
    --tw-translate-x: 3rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:-translate-y-1\/3 {
    --tw-translate-y: -33.333333%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:-translate-x-12 {
    --tw-translate-x: -3rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:scale-110 {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:items-start {
    align-items: flex-start;
  }

  .xl\:gap-24 {
    gap: 6rem;
  }

  .xl\:gap-16 {
    gap: 4rem;
  }

  .xl\:gap-6 {
    gap: 1.5rem;
  }

  .xl\:gap-0 {
    gap: 0px;
  }

  .xl\:gap-28 {
    gap: 7rem;
  }

  .xl\:gap-12 {
    gap: 3rem;
  }

  .xl\:gap-8 {
    gap: 2rem;
  }

  .xl\:gap-x-16 {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }

  .xl\:space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  }

  .xl\:divide-x-\[3px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-right-width: calc(3px * var(--tw-divide-x-reverse));
    border-left-width: calc(3px * calc(1 - var(--tw-divide-x-reverse)));
  }

  .xl\:border-none {
    border-style: none;
  }

  .xl\:px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .xl\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .xl\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .xl\:pt-0 {
    padding-top: 0px;
  }

  .xl\:pr-40 {
    padding-right: 10rem;
  }

  .xl\:pt-40 {
    padding-top: 10rem;
  }

  .xl\:pb-64 {
    padding-bottom: 16rem;
  }

  .xl\:pr-48 {
    padding-right: 12rem;
  }

  .xl\:pt-144 {
    padding-top: 36rem;
  }

  .xl\:pt-14 {
    padding-top: 3.5rem;
  }

  .xl\:pt-12 {
    padding-top: 3rem;
  }

  .xl\:pl-8 {
    padding-left: 2rem;
  }

  .xl\:pt-6 {
    padding-top: 1.5rem;
  }

  .xl\:leading-64 {
    line-height: 4rem;
  }

  .xl\:leading-\[3\.25rem\] {
    line-height: 3.25rem;
  }

  .xl\:leading-44 {
    line-height: 2.75rem;
  }

  .xl\:leading-\[52px\] {
    line-height: 52px;
  }

  .xl\:leading-\[3\.75rem\] {
    line-height: 3.75rem;
  }

  .xl\:type-3xl {
    font-size: clamp(1.75rem, calc(1rem + 1.3392857142857142vw), 2.5rem);
  }
}

@media (min-width: 1600px) {
  .xxl\:mt-56 {
    margin-top: 14rem;
  }

  .xxl\:gap-32 {
    gap: 8rem;
  }

  .xxl\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .xxl\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .xxl\:pr-48 {
    padding-right: 12rem;
  }
}

@media (min-width: 1920px) {
  .xxxl\:left-\[36rem\] {
    left: 36rem;
  }

  .xxxl\:-top-96 {
    top: -24rem;
  }

  .xxxl\:-left-28 {
    left: -7rem;
  }

  .xxxl\:top-3\/4 {
    top: 75%;
  }

  .xxxl\:-mx-11 {
    margin-left: -2.75rem;
    margin-right: -2.75rem;
  }

  .xxxl\:mt-12 {
    margin-top: 3rem;
  }

  .xxxl\:mt-40 {
    margin-top: 10rem;
  }

  .xxxl\:mt-10 {
    margin-top: 2.5rem;
  }

  .xxxl\:mt-2\.5 {
    margin-top: 0.625rem;
  }

  .xxxl\:mt-2 {
    margin-top: 0.5rem;
  }

  .xxxl\:mt-24 {
    margin-top: 6rem;
  }

  .xxxl\:mt-14 {
    margin-top: 3.5rem;
  }

  .xxxl\:mt-20 {
    margin-top: 5rem;
  }

  .xxxl\:mt-1 {
    margin-top: 0.25rem;
  }

  .xxxl\:mt-36 {
    margin-top: 9rem;
  }

  .xxxl\:mt-8 {
    margin-top: 2rem;
  }

  .xxxl\:mt-32 {
    margin-top: 8rem;
  }

  .xxxl\:mt-4 {
    margin-top: 1rem;
  }

  .xxxl\:mt-48 {
    margin-top: 12rem;
  }

  .xxxl\:mt-6 {
    margin-top: 1.5rem;
  }

  .xxxl\:-mr-16 {
    margin-right: -4rem;
  }

  .xxxl\:mt-16 {
    margin-top: 4rem;
  }

  .xxxl\:w-\[302px\] {
    width: 302px;
  }

  .xxxl\:w-\[36rem\] {
    width: 36rem;
  }

  .xxxl\:w-\[269px\] {
    width: 269px;
  }

  .xxxl\:w-\[96px\] {
    width: 96px;
  }

  .xxxl\:translate-x-24 {
    --tw-translate-x: 6rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xxxl\:-translate-x-24 {
    --tw-translate-x: -6rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xxxl\:scroll-ml-\[10vw\] {
    scroll-margin-left: 10vw;
  }

  .xxxl\:gap-14 {
    gap: 3.5rem;
  }

  .xxxl\:gap-32 {
    gap: 8rem;
  }

  .xxxl\:gap-4 {
    gap: 1rem;
  }

  .xxxl\:gap-x-0 {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }

  .xxxl\:gap-x-36 {
    -moz-column-gap: 9rem;
         column-gap: 9rem;
  }

  .xxxl\:space-x-32 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(8rem * var(--tw-space-x-reverse));
    margin-left: calc(8rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .xxxl\:space-y-20 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(5rem * var(--tw-space-y-reverse));
  }

  .xxxl\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .xxxl\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .xxxl\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .xxxl\:px-11 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  .xxxl\:pb-12 {
    padding-bottom: 3rem;
  }

  .xxxl\:pt-8 {
    padding-top: 2rem;
  }

  .xxxl\:pt-32 {
    padding-top: 8rem;
  }

  .xxxl\:pt-52 {
    padding-top: 13rem;
  }

  .xxxl\:pt-6 {
    padding-top: 1.5rem;
  }

  .xxxl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
